<!DOCTYPE html>
<html lang="en">
<%- include('partials/head') %>
<%- include('partials/header') %>
<body>
    <div class="mobile-container">
      <div class="side-by-side-images">
        <a href="#">
          <img id="image-left" src="https://media.lmneuquen.com/p/8e66f9ee5d71ae3c2987078238c338cd/adjuntos/195/imagenes/003/530/0003530994/p21-collar-perrosce_id303988jpg.jpg" alt="Imagen 1" />
        </a>
        <a href="#">
          <img id="image-right" src="https://www.tiendanimal.es/articulos/wp-content/uploads/2020/12/El-Dogo-argentino-1200x900.jpg" alt="Imagen 2" />
        </a>
      </div>
      <div class="product-link">
        <a href="#">
          <img src="https://www.petmania.com.ar/imgs/mcat/mcat-banner-perros.png?v=8" alt="Imagen del producto" />
        </a>
      </div>
      <main>
          <div class="product-card">
            <img src="/images/<%= producto.image %>" alt="Producto 1" />
            <div class="product-info">
              <h2><%= producto.name %></h2>
              <p><%= producto.description %></p>
              <p>categoria: <%= producto.category %></p>
              <p>color disponible: <%= producto.color%></p>
              <p>$<%= producto.price %></p>
              <a href="/carrito"><button class="add-to-cart-button">Añadir al carro</button></a>
            </div>
          </div>  
    </main>
    </div>
  </body>
  <%- include('partials/footer') %>
</html>