<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css" rel="stylesheet" />
    <link rel="stylesheet" href="/css/detail.css">
    <title>PetShop Innovador - Home</title>
</head>
<body>
  <%- include('partials/header') %>
    <div class="mobile-container">
      <main>
        <div class="product-card">
          <img src="/images/<%= producto.image?producto.image:'default.jpg' %>" alt="Producto 1" />
          <div class="product-info">
            <h2><%= producto.name %></h2>
            <p><%= producto.description %></p>
            <p>categoria: <%= producto.category %></p>
            <p>color disponible: <%= producto.color%></p>
            <p>$<%= producto.price %></p>
            <a href="/carrito"><button class="add-to-cart-button">Añadir al carro</button></a>
          </div>
        </div>  
      </main>
    </div>
  </body>
  <%- include('partials/footer') %>
</html>


