<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css" rel="stylesheet" />
    <link rel="stylesheet" href="/css/detail.css">
    <title>PetShop Innovador - Detalle del Producto</title>
</head>
<body>
  <%- include('partials/header') %>
    <div class="mobile-container">
      <main>
        <div class="product-card">
          <img src="/images/products/<%= producto.img?producto.img:'logo.png' %>" id="imagen" alt="<%= producto.image %>" />
          <div class="product-info">
            <p class="id"><%= producto.id %></p>
            <h2 id="nombre"><%= producto.nombre %></h2>
            <p id="descripcion"><%= producto.descripcion %></p>
            <p id="categoria">categoria: <%= producto.categoria %></p>
            <p id="color">color disponible: <%= producto.color%></p>
            <p id="precio">$<%= producto.precio %></p>
            <a href="/carrito"><button class="add-to-cart-button">Añadir al carro</button></a>
          </div>
        </div>  
      </main>
    </div>
    <script src="/js/agregarCarrito.js"></script>
  </body>
  <%- include('partials/footer') %>
</html>


