<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css" rel="stylesheet" />
    <link rel="stylesheet" href="/css/home.css">
    <title>PetShop Innovador - Home</title>
</head>
<body>
  <%- include('partials/header') %>
    <div class="product-container">

      <div class="product-link">
        <a href="#">
          <img src="https://img.freepik.com/foto-gratis/endecha-plana-juguetes-plato-comida-cepillo-pelo-perros_23-2148949620.jpg?w=1480&t=st=1701047160~exp=1701047760~hmac=80abfdcf2f4388093d581b028634fa98a714eac6f70e01cae4fafc04c0a87186" alt="Imagen del producto" />
        </a>
      </div>

      <main>
        <% productos.forEach(product => { %>
          <div class="product-card">
            <div>
              <img src='<%= product.img %>' alt="imagen producto"/>
            </div>
            <div class="product-info">
              <h2><%= product.nombre %></h2>
              <p><%= product.precio %></p>
              <a href="/carrito"><button class="add-to-cart-button">Añadir al carro</button></a>
            </div>
          </div>
      <%  }); %>
    </div>
    </main>
    </div>
    <%- include('partials/footer') %>
  </body>

</html>