<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css" rel="stylesheet" />
    <link rel="stylesheet" href="/css/home.css">
    <title>PetShop Innovador - Home</title>
</head>
<body>
  <%- include('partials/header') %>
    <div class="mobile-container">

      <div class="product-link">
        <a href="#">
          <img src="https://www.petmania.com.ar/imgs/mcat/mcat-banner-perros.png?v=8" alt="Imagen del producto" />
        </a>
      </div>

      <main>
        <% productos.forEach(product => { %>
          <div class="product-card">
            <img src="/images/<%= product.image %>" alt="Producto 1" />
            <div class="product-info">
              <h2><%= product.name %></h2>
              <p><%= product.price %></p>
              <a href="/carrito"><button class="add-to-cart-button">Añadir al carro</button></a>
            </div>
          </div>
      <%  }); %>
    </div>
    </main>
    </div>
  </body>
  <%- include('partials/footer') %>
</html>